@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:250px ;
  background-color: black;
}

section{
  background-color: white;
  padding: 15px;
  padding-bottom: 35px;
  border-radius: 18px;
}
img{
  width: 288px;
  border-radius: 18px;
}
.title_subtitle{
  text-align: center;
  padding-top: 15px;
  font-family: 'Outfit', sans-serif;
}
h1{
  font-size: 22px;

}
p{
  font-size: 15px;
  padding-top: 15px;
  color: grey;
}